.checkout {
    position: fixed;
    right: 10rem;
    height: 2rem;
    width: 1rem;
}
.container {
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
.box {
    height: 500px;
    width: 25%;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
nav a {
    padding: .5rem;
    margin: .5rem;
}

.responsive-img {
    display: block;
    width: 100%;
    height: auto;
}

nav a {
    padding: .5rem;
    margin: .5rem;
}

@media screen and (max-width:576px){
    aside{
        display: none;
    }
}